body{
display: flex;
justify-content: center;
height: 100vh;
overflow-y: hidden;
background-image: url(../img/deadpool-y-wolverine-pelicula-12624.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.deadpool{
  width: 200px;
  height: 500px;
}

.wolverine{
  width: 250px;
  height: 500px;
}

div{
background-image: url(https://img.freepik.com/fotos-premium/fondo-estudio-liso-degradado-negro-abstracto_570543-7256.jpg?semt=ais_hybrid&w=740&q=80);
background-position: center;
background-size: cover;
text-align: center;
border: solid 2px;
border-radius: 4%;
margin-top: 3.5rem;
padding-top: 1rem;
height: 26rem;
box-shadow: 0 0 7px 10px black;
}


input{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin-block: 10px;
  padding-inline: 10px;
  width: 3rem;
  height: 3rem;
  border: 2px;
  border-radius: 10%;
  color: black;
  background-color: white;
  box-shadow: 0 6px #000;
  transition: all 0.2s ease-in-out;

}

input{
  box-shadow: 0 6px #000;
  transition: all 0.2s ease-in-out;
cursor: pointer;
}
#calculadora input[type="button"]:hover {
  transform: translateY(2px);
  box-shadow: 0 4px #000;
}

#solution{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  width: 15rem;
  height: 5rem;
  box-shadow: 0 0 7px 1px black;
  margin-inline: 1rem;
  border: none;
  border-radius: 1%;
}
